@import '../../node_modules/nprogress/nprogress.css';

body {
  margin: 0;
  height: 100vh;
  overflow: auto;
  #root {
    height: 100%;
  }
}

.app-container {
  padding: 0 50px;
  padding-bottom: 50px;
}

#nprogress .bar {
  background: white;
}
/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px white, 0 0 5px white;
}

#nprogress .spinner {
  display: none;
}
